<section class="todoapp">
			<header class="header">
				<h1><%= @list.name %></h1>
				<%= form_for([@list, @item]) do |f| %>
				<%= f.text_field :description, :class => "new-todo", :placeholder => (@item.errors.full_messages_for(:description).first || "Add item...") %>
					<%= f.submit :style => 'display: none' %>
				<% end %>
			</header>
			<section class="main">
				<ul class="todo-list">
					<% @items.each do |item| %>
						<li class="<%= "completed" if item.complete? %>">
							<div class="view">
								<%= form_for([@list, item]) do |f| %>
								<%= f.check_box :status, class: "toggle", checked: (true if item.complete?) %>
									<!-- <input class="toggle" type="checkbox" <%= "checked='checked'" if item.complete? %>> -->
								<% end %>
								<label><%= item.description %></label>
							</div>
						</li>
					<% end %>

        </ul>
			</section>
			<footer class="footer" style="display: none;">

			</footer>
		</section>
